:root {
  --bs-link-color: black;
}

.navbar {
  --bs-navbar-brand-margin-end: 45px;
  --bs-navbar-color: black;
}


$font-family-main: 'Lato', sans-serif;


$header-icons-size: 16px;
$header-right-icons-size: 22px;




$font-md: 15px;
$font-sm: 13px;
$font-norm: 17px;

$main-bg: #F4F4F4;
$accent-color: #99C63C;
$light-color: #BDBDBE;
$heading-color: #2268B4;
$button1-color: #515151;
$footer-color: #26282C;

$transition: .3s